<ul class="flex flex-col w-full h-full gap-y-1 p-1">
    <li class="w-full h-[35px] bg-gray-100 flex items-center px-2">
        <a href="/admin">E'lonlar</a>
    </li>
    <li class="w-full h-[35px] bg-gray-100 flex items-center px-2">
        <a href="/admin/freelancers">Frilanserlar</a>
    </li>
    <li class="w-full h-[35px] bg-gray-100 flex items-center px-2">
        <a href="/admin/about">About</a>
    </li>
    <li class="w-full h-[35px] bg-gray-100 flex items-center px-2">
        <a href="/admin/contacts">Kontaktlar</a>
    </li>
</ul>