<%- include('parts/header') %>

<section class="info-page">
    <h1 class="heading-404">404</h1>
    <div class="text-404">
        <img src="/img/icons/404-icon.svg" alt="404 icon">
        <p>Afsuski, siz so'ragan sahifa topilmadi!</p>
        <a href="/">Orqaga qaytish</a>
    </div>
</section>

<%- include('parts/footer') %>