<%- include("parts/header", {
    title: "E-Mail tasdiqlash"
})  %> 
<section class="email-check">
    <div class="email-card">
        <img src="/img/email-images/check.png" class="email-card__img" alt="email verify">
        <h2 class="email-card__text">Biz sizning elektron pochtangizga tasdiqlash xabari jo'natdik</h2>
        <a href="/" class="email-card__btn">Bosh sahifa</a>
    </div>
</section>
<%- include("parts/footer")  %>